html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

header {
  background: #010201 url("banner.jpg") no-repeat;
  height: 150px;
  width: 1000px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: Helvetica;
  font-size: 100px;
  padding-top: 60px;
  text-shadow: 4px 4px 10px #111111;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 00px 0px 50px #222222;
}

body {
  background: black;
  height: 100%;
}

p {
  margin: 0;
  padding: 5px;
  border: 0;
}

.content {
  width: 1000px;
  margin: 0 auto;
  color: #f2ab1e;
  text-align: center;
  background: #111111;
  padding-bottom: 50px;
  font-family: Helvetica;
  position:absolute;
  bottom:inherit;
  left:0;
  right:0;
  box-shadow: 0px 0px 50px #222222;
}

form {
  margin-top:15px;
}

.section1 {
  min-height: 130px;
  margin-bottom: 35px;
}

h1 {
  padding-top: 30px;
  margin-top: 0;
  font-weight: normal;
  font-style: italic;
  text-shadow: 3px 3px 3px black;
  font-size: 30px;
  font-family: Times New Roman;
}

.gamebuttons {
  display: block;
}

input[type=text]
{
  color: #115f8f;
  padding: 25px 0 25px 25px;
  border: 0;
  border-radius:5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 35px;
}

 #guesstracking {
  margin: 20px 0;
 }


input[type=button] {
  border: none;
  margin: 30px 375px;
  -moz-box-shadow: 0px 1px 4px 0px #000000;
  -webkit-box-shadow: 0px 1px 4px 0px #000000;
  box-shadow: 0px 1px 4px 0px #000000;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff6f00), color-stop(1, #c73c00));
  background:-moz-linear-gradient(top, #ff6f00 5%, #c73c00 100%);
  background:-webkit-linear-gradient(top, #ff6f00 5%, #c73c00 100%);
  background:-o-linear-gradient(top, #ff6f00 5%, #c73c00 100%);
  background:-ms-linear-gradient(top, #ff6f00 5%, #c73c00 100%);
  background:linear-gradient(to bottom, #ff6f00 5%, #c73c00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f00', endColorstr='#c73c00',GradientType=0);
  background-color:#ff6f00;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  border-radius:9px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:25px;
  font-weight:bold;
  padding:7px 26px;
  text-decoration:none;
  text-shadow:0px 1px 12px #450000;
}
input[type=button]:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c73c00), color-stop(1, #ff6f00));
  background:-moz-linear-gradient(top, #c73c00 5%, #ff6f00 100%);
  background:-webkit-linear-gradient(top, #c73c00 5%, #ff6f00 100%);
  background:-o-linear-gradient(top, #c73c00 5%, #ff6f00 100%);
  background:-ms-linear-gradient(top, #c73c00 5%, #ff6f00 100%);
  background:linear-gradient(to bottom, #c73c00 5%, #ff6f00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c73c00', endColorstr='#ff6f00',GradientType=0);
  background-color:#c73c00;
}
input[type=button]:active {
  position:relative;
  top:1px;
}

button {
  border: none;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
  background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
  background-color:#f0c911;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#c92200;
  font-family:Arial;
  font-size:25px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 0px 13px #ded17c;
  margin: 0 20px 10px 20px;
}
button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
  background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
  background-color:#f2ab1e;
}
button:active {
  position:relative;
  top:1px;
}

#hintoutput {
  margin-top: 10px;
  display: inline-block;
  background-color: rgba(0, 102, 255, 0.1);
  border: 2px solid #0066ff;
}

.gameover .content p {
  margin-top: 30px;
  font-size: 140px;
  font-family: Impact, Charcoal, sans-serif;
  text-shadow: 4px 4px 17px #0E3080;
}

.gameover .content h1 {
  display:none;
}

.winner {
  background: #f0c911;
}

.loser {
  background: #00334d;
}

.winner .content p {
  color: #f0c911;
}

.loser .content p {
  color: blue;
}

.rain {
background:#0D343A;
background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);

overflow:hidden;}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  width:1px;
  height:55px;
  position: absolute;
  bottom:200px;
  -webkit-animation: fall 2.63s linear infinite;
  -moz-animation: fall 2.63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
  to {margin-top:900px;}
}
@-moz-keyframes fall {
  to {margin-top:900px;}
}

#numguess {
  color: red;
 }



