html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

header {
  background: #111111 url("banner.jpg") no-repeat;
  height: 250px;
  width: 1000px;
  margin: 0 auto 0 auto;
  border: 0;
  padding: 0 0 0 0;
  text-align: center;
  color: rgba(0,0,0,1);
  font-family: Helvetica;
  font-size: 100px;
  padding-top: 60px;
  text-shadow: 4px 4px 10px #111111;
  border-radius: 15px 15px 0 0;
}

body {
  /*background: #000000 url("banner.jpg") -200px 0/auto 900px repeat;*/
  background: black;
  height: 100%;
}

.content {
  width: 1000px;
  margin: 0 auto;
  color: #1a8cff;
  text-align: center;
  background: #222222;
  padding-bottom: 100px;
  font-family: Helvetica;
  position:absolute;
  top: 250px;
  bottom:0;
  left:0;
  right:0;
}

h1 {
  padding-top: 40px;
  margin-top: 0;
  font-weight: normal;
  font-style: italic;
}

.gamebuttons {
  display: block;
}

input[type=text]
{
  color: #115f8f;
  padding: 25px 0 25px 25px;
  border: 0;
  border-radius:5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

input[type=submit]
{
  display: block;
  margin: 30px auto;
  background: #009900;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #0a090a;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type=submit]:hover {
  text-decoration: none;
  background: #00e600;
}


/*input[type=submit]
{
  font-size: 20px;
  padding: 10px;
  background-color: #aaddff;
  border: 0;
  border-radius:5px;
}*/

button {
  display: inline;
  margin: 30px 20px;
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #115f8f);
  background-image: -moz-linear-gradient(top, #0099ff, #115f8f);
  background-image: -ms-linear-gradient(top, #0099ff, #115f8f);
  background-image: -o-linear-gradient(top, #0099ff, #115f8f);
  background-image: linear-gradient(to bottom, #0099ff, #115f8f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #0a090a;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

